body {
    background-color: #FEE5B6;
}

body * {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    font-family: 'Barlow'
}

h1 {
    pointer-events: none;
}

.grid {
    display: grid;
    grid-auto-columns: 7.33vw;
    gap: 1%;
    grid-auto-rows: 7.33vh;

    position: absolute;
    margin-left: 1vw;
    margin-top: 1vh;
    top: 0%;
    left: 0%;
}

/* default button */
button {
    border-radius: 4vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
}

/* alegemene hovers */
input:focus {
    transform: scale(1.1);
}

input:hover {
    transform: scale(1.1);
}

textarea:focus {
    transform: scale(1.1);
}

textarea:hover {
    transform: scale(1.1);
}

button:focus {
    transform: scale(1.1);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* custom sliders */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 50%;
    background: white;
    outline: none;
    border-radius: 30px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.8vh;
    /* height: 2.0575vh; */
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: rgb(149, 173, 117);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 100%;
    aspect-ratio: 1/1;
    background: rgb(149, 173, 117);
    cursor: pointer;
}

/* dropdown styling */
.rightClickMenu{
    position: fixed;
    z-index: 9999;

    background-color: rgba(240, 204, 169, 0.5);
    width: 20%;
    height: 20%;

    transition-duration: 0s;

    /* display: none; */
    flex-direction: column;

    border-radius: 4vh;
    backdrop-filter: blur(10px);
}

.rightClickMenu button:not(.hitBox){
    background-color: rgb(149, 173, 117);
    height: 40%;
    margin: 5%;
    font-size: large;
}

.hitBox{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}