body{
    background-color: #FEE5B6;
}

.quizdiv{
    background-color: #90AE6E;
    position: absolute;
    border-radius: 20px;
}

/* PC or laptop */
@media screen and (min-width: 1024px) { 
    .quizdiv{
        width: 40%;
        height: 90%;
        left: 30%;
        top: 5%;
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023) { 
    .quizdiv{
        width: 50%;
        height: 90%;
        left: 25%;
        top: 5%;
    }
}

/* phone */
@media screen and (max-width: 767) { 
    .quizdiv{
        width: 50%;
        height: 90%;
        left: 25%;
        top: 5%;
    }
}